<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549435099935-e17s2onik1sg8anj6t58fl96ctaa3lrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549435099935-e17s2onik1sg8anj6t58fl96ctaa3lrd</string>
	<key>API_KEY</key>
	<string>AIzaSyCCzap03wbbNuSiBmDkqzFgqrhC2jMNkiU</string>
	<key>GCM_SENDER_ID</key>
	<string>549435099935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullsailStudent.Congress-Tracker-iOS</string>
	<key>PROJECT_ID</key>
	<string>congress-tracker-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>congress-tracker-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549435099935:ios:19522c77ad519d7d267e2a</string>
	<key>DATABASE_URL</key>
	<string>https://congress-tracker-ios.firebaseio.com</string>
</dict>
</plist>